<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scmaster.web7.board.dao.BoardMapper">

<insert parameterType="board" id="insertBoard"> 
	insert 
		into board ( 
		boardnum 
		,id 
		,title 
		,content
		<if test="originalfile != null and savedfile !=null">
		,originalfile
		,savedfile
		</if>
		 )values( 
		board_seq.nextval 
		,#{id} 
		,#{title} 
		,#{content}
		<if test="originalfile != null and savedfile !=null">
		,#{originalfile}
		,#{savedfile} 
		</if>
		) </insert>

<select id="selectBoardAll" parameterType="hashmap" resultType="board">
	 select 
	 	boardnum 
	 	,id 
	 	,title 
	 	,content 
	 	,to_char(inputdate, 'yyyy-MM-dd') inputdate 
	 	,hits 
	 	from 
	 		board 
	 	<if test="searchText != null"> 
	 	where
	 		${searchSelect} like '%' || #{searchText} || '%'
	 		<!-- ||는 문자열을 연결시켜주는 concat이다.-->
	 	</if>	
	 	order by boardnum desc </select>

<select parameterType="int" id="selectBoardOne" resultType="board">
	 select
	 	boardnum
	 	,id 
	 	,title 
	 	,content 
	 	,to_char(inputdate, 'yyyy-MM-dd') inputdate 
	 	,hits 
	 	,originalfile
		,savedfile
	 	from 
	 		board 
	 	where
	 		boardnum = #{boardnum} </select>

<update parameterType="int" id="updateHits"> 
update board 
	set hits = hits + 1 
	where boardnum = #{boardnum} 
	</update>

<delete id="deleteBoard" parameterType="board">
	delete 
		board
	where
		boardnum = #{boardnum} 
	and 
		id = #{id}
</delete>

<update parameterType="board" id="updateBoard"> 
	update 
		board 
	set 
		title = #{title} 
		,content = #{content} 
	<if test="originalfile != null and savedfile !=null">
	,originalfile=#{originalfile}
	,savedfile=#{savedfile}
	</if>	
	where 
		boardnum = #{boardnum} 
	and 
		id = #{id} 
</update>

<select id="getTotal" parameterType="hashMap" resultType="int">
	select
		count(*)
	from
		board
	<!--  <if test="_parameter != null"> vo에없는값을 파라미터타입 string으로 넘길경우 사용!-->
	
	<if test="searchText != null"> 	
	 	where
	 		${searchSelect} like '%' || #{searchText} || '%'
	 		<!-- ||는 문자열을 연결시켜주는 concat이다.-->
	 </if>	
</select>
<insert id="insertReply" parameterType="reply">
	insert into
	reply
	(
		replynum
		,boardnum
		,id
		,text
	)values(
		reply_seq.nextval
		,#{boardnum}
		,#{id}
		,#{text}
	)
	
</insert>
<select id="selectReplyAll" parameterType="int" resultType="reply">
select
	replynum
	,boardnum
	,id
	,text
	,to_char(inputdate, 'yyy-MM-dd') inputdate
from
	reply
	where
		boardnum= #{boardnum}
	order by
	replynum desc
</select>
<delete parameterType="reply" id="deleteReply">
	delete
		reply
	where
		replynum = #{replynum}
	and
		id=#{id}
</delete>
<update id="updateReply" parameterType="reply">
	update
		reply
	set
		text=#{text}
	where
		replynum = #{replynum}
	and
		id=#{id}	
</update>
</mapper>